{% extends "base.html" %}

{% block title %}Nuevo Concepto de Gasto - Gestor de Gastos{% endblock %}

{% block content %}
    <article>
        <h1 style="text-align: center;">Añadir Nuevo Concepto de Gasto Vario</h1>

        <form method="POST" action="{{ url_for('crear_concepto') }}">
            
            <div class="grid">
                <label for="nombre_concepto">
                    Nombre del Concepto
                    <input type="text" id="nombre_concepto" name="nombre_concepto" placeholder="Ej: Viáticos Viaje Santa Cruz" required>
                </label>

                <label for="descripcion_concepto">
                    Descripción (Opcional)
                    <textarea id="descripcion_concepto" name="descripcion_concepto" rows="3" placeholder="Ej: Para cubrir gastos de transporte y alimentación..."></textarea>
                </label>
            </div>

            <fieldset>
                <label for="activo">
                    <input type="checkbox" id="activo" name="activo" value="true" role="switch" checked>
                    Activo
                </label>
            </fieldset>

            <footer style="display: flex; justify-content: flex-end; gap: 1rem; margin-top: 1rem;">
                <a href="{{ url_for('listar_conceptos') }}" role="button" class="secondary outline">Cancelar</a>
                <button type="submit">Guardar Concepto</button>
            </footer>
        </form>
    </article>
{% endblock %}